@import "_default";
@import "_mixin";

section:nth-child(1){
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./assets/images/section1-images.jpg);
    height: calc(110vh + 1rem);
    background-size: cover;
    background-position: 0% 35%;
    position: relative;
    z-index: 1;
    .row{
        justify-content: center;
        align-items: center;
        gap: calc(1.5rem + 0.5vw);
        margin: -5rem 0 !important;
    }

    h1{
        color: white;
        font-size: calc(12rem + 0.5vw);
        font-family: Arizonia !important;
    }
    p{
        font-size: calc(2.5rem + 0.5vw);
        color: white;
        margin-top: -3rem;
    }
}

.section2{
    height: calc(60vh + 1rem);

    .row{
        justify-content: center;
        align-items: center;
        p{
            width: 100%;
            text-align: center;
            color: black;
            font-size: calc(1.5rem + 0.5vw);
            font-family: Arizonia !important;
        }

        h3{
            font-size: calc(2rem + 0.5vw)
        }

        .cards{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 23%;
                gap: calc(0.2rem + 0.2vw);

                img{
                    @include img_w_h(100%,100%);
                }

                .green-circle{
                    @include green_circle(4rem,4rem);
                }

                p{
                    font-size: calc(1rem + 0.5vw);
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                }
            }
        }
    }
}

.section3,.section4{
    background-color: #eafdeb;
    height: calc(75vh + 1rem);

    .row{
        align-items: center;
        justify-content: space-between;

        .content{
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2vw;
            h2{
                font-size: calc(2rem + 0.5vw)
            }

            p{
                font-size: calc(0.8rem + 0.5vw);
                text-align: center;
            }
        }

        img{
            @include img_w_h(40%,calc(25rem + 0.5vh));
            border-radius: 50%;
        }
    }
}

.section4{
    background-color: white;

    .row{
        flex-direction: row-reverse;
    }
}

.section5{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(./assets/images/section5-bg.jpg);
    height: calc(55vh + 1rem);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .row{
        justify-content: center;
        align-items: center;
    }

    .info{
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        .green-circle{
            @include green_circle(8rem,8rem);
    
            img{
                @include img_w_h(70%,70%);
            }
        }

        p{
            font-size: calc(1rem + 0.5vw);
            color: white;
        }
    }
}

section:nth-child(6){
    .row{
        justify-content: center;
        align-items: center;
        p{
            font-family: Arizonia !important;
            font-size: calc(1.5rem + 0.5vw);
        }
        h2{
            font-size: calc(2rem + 0.5vw);
        }
        .impacts{
            display: grid;
            grid-template-columns: repeat(3,auto);
            grid-template-rows: repeat(2,auto);
            gap: 2vw;
            margin-top: 5vw;

            .impact{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1vw;

                img{
                    @include img_w_h(20%,40%);
                }
                p{
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                    font-size: calc(0.8rem + 0.5vw);
                    text-align: center;
                }
            }
        }
    }
}

section:nth-child(7){
    background-color: #eafdeb;
    height: calc(95vh + 1rem);
    .row{
        align-items: center;
        padding: 3rem 0 !important;
        p{
            font-family: Arizonia !important;
            font-size: calc(1.5rem + 0.5vw);
        }
        h2{
            font-size: calc(2rem + 0.5vw);
            width: 100%;
            text-align: center;
        }
        .blows{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .blow{
                margin-top: 8rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 48%;
                background-color: white;
                gap: 1vw;
                padding: 1.5vw;

                img{
                    @include img_w_h(calc(13rem + 0.5vw),calc(13rem + 0.5vh));
                    border-radius: 50%;
                    margin-top: -5rem;
                }

                p{
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                    text-align: center;
                    font-size: calc(0.8rem + 0.5vw);
                }
            }
        }
    }
}

section:nth-child(8){
    height: calc(140vh + 1rem);
    .grid{
        padding: 5vw 0 !important;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3,31.99%);
        grid-template-rows: 50% 50%;
        gap: 2vw;
        img{
            @include img_w_h(100%,100%);
        }
    }
}

section:nth-child(9){
    .row{
        align-items: center;
        gap: 4vw;
        h2{
            font-size: calc(2rem + 0.5vw);
        }
        .content{
            width: 100%;
            display: flex;
            justify-content: space-between;

            .left-side{
                width: 48%;
                display: flex;
                flex-direction: column;
                gap: 2vw;

                img{
                    @include img_w_h(70%,100%);
                    border-radius: 50%;
                }
            }
            .right-side{
                width: 48%;
                display: flex;
                flex-direction: column;
                gap: 1vw;
                h3{
                    font-size: calc(1.5rem + 0.5vw);
                    font-weight: 500;
                }
                p{
                    font-size: calc(0.8rem + 0.5vw);
                }
                .input{
                    width: 100%;
                    height: calc(2.7rem + 0.5vh);
                    display: flex;
                    input{
                        width: 70%;
                        font-size: calc(0.8rem + 0.5vw);
                        padding: 4%;
                        background-color: #f2f2f2 !important;
                        border: none;
                    }

                    button{
                        width: 30%;
                        background-color: #2ccc38;
                        color: white;
                        border: none;
                        font-size: calc(1rem + 0.5vw);
                    }
                }
            }
        }
    }
}